<div class="p-3" [dir]="translate.currentLang == 'ar' ? 'rtl' : 'ltr'">
    <header>
        <h6>{{"tasks.discardChangesConfirmation"|translate}} </h6>
    </header>

    <footer>
        <div class="d-flex justify-content-center align-items-center">
            <button mat-flat-button class="btn btn-success py-1 px-5 mx-2" (click)="confirm()" >{{"tasks.yes"|translate}}</button>
         
            <button mat-flat-button class="btn btn-danger py-1 px-5" (click)="close()">{{"tasks.no"|translate}}</button>
        </div>
    </footer>
</div>